<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">Peter Barnes | 1980 - 2000 Timeline</h2>
    </div>
    <div class="panel-body">
      <h4><%= link_to "Foreign Affairs", foreign_path %> Rejection of Detente - December 24th 1979</h4>
      <p>"Detente" often refers to the easing of tension between the United States and the Soviet Union.  This tension was created during the Cold War, and the two powers have been working to lower the tension.  However, the Detente ended after the Soviet Intervention in Afghanistan.</p>
      <hr>
      <h4><%= link_to "Criminal Activity", criminal_path %> Death of John Lennon - December 8th 1980</h4>
      <p>John Lennon was a famous musician and was one of the founders of the Beatles.  He gained fame not only from the Beatles, but also his solo career, and his political activism and pacifism.  He was shot by Mark David Chapman at the entrance of the building he lived in, and was pronounced Dead On Arrival at the Roosevelt Hospital.</p>
      <hr>
      <h4><%= link_to "Presidents", presidents_path %> The Election of 1980</h4>
      <p>The Election of 1980 was the 49th quadrennial presidential election.  It was between the current Democratic president Jimmy Carter, the California Governor Ronald Reagan, and Congressman John B. Anderson, who was independent.  Reagan won the election by a landslide due to aid from the Iran Hostage Crisis, and a failing economy. </p>
      <hr>
      <h4><%= link_to "Presidents", presidents_path %> Jimmy Carter - 1980</h4>
      <p>Jimmy Carter is an American Politician and a member of the Democratic party.  He was the 39th president from 1977 to 1981 and was also awarded the 2002 Nobel Peace prize, he was also the only president to ever receive the award after leaving office.  Before his presidency, he was a U.S. Naval officer, and a peanut farmer.  During his administration, he created the Department of Energy and the Department of Education.</p>
      <hr>
      <h4><%= link_to "Presidents", presidents_path %> Ronald Reagan - 1980</h4>
      <p>Ronald Reagan was an American actor and politician, and served as the 40th president from 1981 to 1989.  Before his presidency, he was the 33rd governor of California.  During his presidency, Reagan implemented many new political and economic initiatives.  Some of his economic policies, also called "Reaganomics", suggested lowering tax rates to help spur economic growth.  In his first term, he survived an assassination attempt, announced a War on Drugs, and ordered an invasion of Greneda.</p>
      <hr>
      <h4><%= link_to "Foreign Affairs", foreign_path %> Reagan Doctrine - 1980</h4>
      <p>The Reagan Doctrine was the plan put together by the United States to fight the influence of the Soviet Union in the years following the Cold War.  Although the doctrine lasted for less than a decade, it was a centerpiece in the United States foreign policy in the early 1980's until the end of the Cold War in 1991.</p>
      <hr>
      <h4><%= link_to "Sports", sports_path %> World Series of 1980</h4>
      <p>The World Series of 1980 was held between the Philadelphia Phillies and the Kansas City Royals.  The Phillies won six games and captured first of two World Series titles in the franchise.  The series ended after Game 6 when Tug McGraw striking out Willie Wilson on October 21st, 1980.</p>
      <hr>
      <h4><%= link_to "Technology", tech_path %> Graphical User Interface (GUI) - 1981</h4>
      <p>The Graphical User Interface (GUI, pronouced "gooey") is a type of interface that allows the end user to interact with a computer through the use of graphical icons as oppose to the ubiquitous command line interface (CLI) that had been the primary method of computing until the GUI was made popular in 1981.</p>
      <hr>
      <h4><%= link_to "Domestic Issues", domestic_path %> Acquired Immune Deficiency Syndrome (AIDS) - 1981</h4>
      <p>Acquired Immune Deficiency Syndrom (AIDS) is a disease in the immune system caused by HIV.  When infected with AIDS, the victim will feel a brief period of influenzia-like illness, and is then after usually followed by a period with no symptoms.  As the disease progresses, it causes the victim to be much more prone to catching infections, which can then no longer be fought off by the immune system.</p>
      <hr>
      <h4><%= link_to "Technology", tech_path %> Cell Phones - 1981</h4>
      <p>A cell phone is a device that can make and accept telephone calls over a radio link while moving around.  It does this by connecting to a cellular network which is hosted by a mobile phone provider (Verizon, Sprint, AT&T). Cell phones have been a dream in radio engineering, and initially evolved from analog communications between trains, and eventually handheld phones.  Several countries began to adopt mobile phones in the early 1980s.</p>
      <hr>
      <h4><%= link_to "Technology", tech_path %> Compact Discs (CDs) - 1982</h4>
      <p>Compact Disc(CD) is a form of digital optical disc data storage.  The CD was originally developed to only play back sound recordings but was eventually changed to be generic data storage.  Standard CDs are 120mm and can hold up to 80 minutes of uncompressed audio and about 700mb of data.  While CDs were created in the mid-to-late 1970s, the popularity of the CD spiked when Phillips and Sony teamed together to create commercially available CD players in 1982.</p>
      <hr>
      <h4><%= link_to "Technology", tech_path %> Video Game Consoles - 1983</h4>
      <p>A Video game console is a device that produces a signal to output a video game.  The term "console" was used to distinguish video game consoles from things such as arcade machines and home computers.  In 1983, Nintendo released the Nintendo Entertainment System (NES) and was the highest selling video game console of the time.</p>
      <hr>
      <h4><%= link_to "Technology", tech_path %> Apple II Computer - 1983</h4>
      <p>The Apple II computer series was a set of home computers and was one of the first massively successful microcomputer products.  They were intially designed by Steve Wazniak, and was then manufactured by Apple Computer.  The Apple II focused on ease of use and features and was a significant jump in engineering over its predecesor.  </p>
      <hr>
      <h4><%= link_to "Criminal Activity", criminal_path %> Bombing of US Embassy in Kuwait - 1983</h4>
      <p>The Kuwait Bombings of 1983 were a series of 6 bombings on important installations on December 12, 1983.  On that day, a truck loaded with 45 large cynliders of gas connected to explosives broke through the front gates of the American Embassy and rammed into the three-story building, destroying almost half the building. </p>
      <hr>
      <h4><%= link_to "Domestic Issues", domestic_path %> War on Drugs - 1987</h4>
      <p>The War on Drugs is an American term often used to describe the campaign to prohibit drugs with the intention of ending the illegal drug trade.  The US spends over $51 billion annually on the War on Drugs.  </p>
      <hr>
      <h4><%= link_to "Domestic Issues", domestic_path %> Civil Rights Restoration Act - 1987</h4>
      <p>The Civil Rights Restoration Act was a US act which specified that people that receive federal funding must comply with civil rights laws in all areas, not just the area of federal funding.  Although Reagan intially vetoed the bill, congress overrode his veto by 73-24 in the Senate and 292-133 in the House.  </p>
      <hr>
      <h4><%= link_to "Foreign Affairs", foreign_path %> Fall of the Soviet Union - 1991</h4>
      <p>The Union of Soviet Socialist Republics (USSR) no longer existed on December 26 1991.  The political unrest led to the establishment of the Soviet Military and the Communist party of the Soviet Union, and attempted a coup d'etat.  The Fall of the Soviet Union was made official by declaration of no. 142-H of the Soviet of the Republics of the Supreme Court of the Soviet Union, which established independence of the 12 republics.</p>
      <hr>
      <h4><%= link_to "Criminal Activity", criminal_path %> Loomis Fargo Bank Robbery - 1997</h4>
      <p>The Loomis Fargo Bank Robbery was a $17.3 million robbery in Charlotte, North Carolina.  The heist was put on by the armored car driver and vault Supervisor David Scott Ghantt.  The federal investigation resulted in the arrest of 8 people directly involved in the heist, aswell as 16 people indirectly involved.  </p>
      <hr>
      <h4><%= link_to "Sports", sports_path %> Superbowl XXXIV - 2000 Rams 23, Titans 16</h4>
      <p>Superbowl XXXIV was an American Football game held between the St. Louis Rams and the Tennesse Titans to decide the champion of the 1999 season.  The Rams won the game with a score of 26 to 16. </p>
    </div>
  </div>
</div>
